<footer class="fixed-bottom">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a target="_blank" href="https://www.linkedin.com/in/sebasti%C3%A1n-morales-33902b1a1/" class="nav-link px-2 text-muted">LinkedIn</a></li>
        <li class="nav-item"><a target="_blank" href="https://api.whatsapp.com/send?phone=573002954040" class="nav-link px-2 text-muted">WhatsApp</a></li>
        <li class="nav-item"><a target="_blank" href="https://github.com/sebasmd-projects/app_reportes/" class="nav-link px-2 text-muted">GitHub del proyecto</a></li>
    </ul>
    <p class="text-center text-muted">Hecho por Sebastian Morales {% now 'Y' %}</p>
</footer>